{%load static%}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}{% endblock head %}
</head>

<body>
    {% block body %}
    {% endblock body %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{%static 'js/bootstrap.min.js'%} "></script>


</body>

</html>